div.login {
    display: flex;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

button.loginBtn {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);    
    text-transform: uppercase;
    transition: .3s;
}

button.loginBtn:hover {
    background-color: #03ADEB;
    color: white;
}